.custom_button {
  background-color: green;
  border: 1px;
  border-radius: 6px;
  color: white;
}
.custom_button:hover {
  background-color: white !important;
  color: green !important;
  border: 1px solid green !important;
}
